{%extends "layout.html"%}
{%block content%}

<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url({{url_for('static', filename='images/mujer-sonriendo.jpg')}})"></div>
    </div>
    <div class="home_content">
        <h1>ROPA DE DAMA</h1>
    </div>
</div>

<!-- nuevas tendencias -->

<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>NUEVAS TENDENCIAS</h1>
                </div>
            </div>
        </div>
        <div class="row course_boxes">
            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/product-single2.jpg')}}" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Blusa tirantes</a></div>
                        <div class="card-text">Hermosas blusas de tirantes</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"> Precio, <span> Desde </span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$100</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/product-single3.jpg')}}" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Faldas varios colores</a></div>
                        <div class="card-text">Hermosas faldas, varios colores</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"> Precio, <span> Desde </span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$290</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/product-single4.jpg')}}" alt="https://unsplash.com/@cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Chalecos</a></div>
                        <div class="card-text">Chalecos diferentes colores...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name">Precio, <span> Desde </span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$230</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course_boxes">
            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/sueter.jpg')}}" alt="https://unsplash.com/@kellitungay">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Sueter de coleccion</a></div>
                        <div class="card-text">Diferentes colores...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"> Precio, <span> Desde </span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$100</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/product-single1.jpg')}}" alt="https://unsplash.com/@claybanks1989">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Blusa pringg</a></div>
                        <div class="card-text">Blusas diferentes colores...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"> Precio, <span> Desde </span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$120</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/blusa_blanca.jpg')}}" alt="">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Blusa tirantes</a></div>
                        <div class="card-text">Diferentes estilos</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"> Precio, <span> Desde </span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$100</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>		
</div>
{%endblock%}