{%extends "layout.html"%}
{%block content%}
	<!-- Home -->
<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url({{url_for('static', filename='images/descuentos.png')}})"></div>
    </div>
    <div class="home_content">
        <h1>Checkout</h1>
    </div>
</div>
<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>NUEVAS TENDENCIAS</h1>
                </div>
            </div>
        </div>
        <div class="row course_boxes">
            <!-- Popular Course Item -->
            <form action="" method="post" class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/sueter.jpg')}}" alt="https://unsplash.com/@kellitungay">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Sueter de coleccion</a></div>
                        <div class="card-text">Diferentes colores...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"> Precio, <span> Desde </span></div>
                        <input type="button" text="" class="course_price d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>		
</div>
{%endblock%}