{%extends "layout.html"%}
{%block content%}
	<!-- Home -->
<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url({{url_for('static', filename='images/descuentos.png')}})"></div>
    </div>
    <div class="home_content">
        <h1>Ultíma Oportunidad</h1>
    </div>
</div>

<!--COMIENZA CODIGO DE REBAJAS-->

<div class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>"OFERTAS"</h1>
                </div>
            </div>
        </div>
        <div class="row course_boxes">
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/chaleco 1.jpg')}}" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Chaleco verde Menta</a></div>
                        <div class="card-text"> De $399 -- A $299 </div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$299</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/CHALECO 2.jpg')}}" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Chaleco Rojo </a></div>
                        <div class="card-text"> De $450 -- A $325</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$325</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/chaleco 3.jpg')}}" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Chaleco Morado</a></div>
                        <div class="card-text">De $375 -- A $299</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$299</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/chaleco 4.jpg')}}" alt="https://unsplash.com/@cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Chaleco Rosa</a></div>
                        <div class="card-text">De $480 -- A $355</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$355</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course_boxes">
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/falda 1.jpg')}}" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Falda Tipo piel</a></div>
                        <div class="card-text">DE $250 -- A $180</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$180</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/falda 4.jpeg')}}" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Falda Pink</a></div>
                        <div class="card-text">De $299 -- A $200</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$200</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/FALDA 2.png')}}" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Falda Moda</a></div>
                        <div class="card-text">De $300 -- A $250</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$250</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-3 course_box">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/falda 7.jpg')}}" alt="https://unsplash.com/@cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Falda Beige </a></div>
                        <div class="card-text">De $320 -- A $270 </div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="" alt="">
                        </div>
                        <div class="course_author_name"><span>comprar ahora</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$270</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}